.container {
  /* border: 2px solid white; */
  height: 40vh;
  text-align: center;
  color: white;
}
.container h1 {
  font-size: 3rem;
  margin: 3rem;
}
.container p {
  margin: auto;
  width: 90%;
  font-size: 2rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 3rem;
  }
  .container p {
    font-size: 1.5rem;
    width: 80%;
    white-space: wrap;
    padding: 1rem;
    text-align: justify;
  }
  .para {
    text-overflow: hidden;
    text-wrap: nowrap;
    overflow-y: scroll;
    height: 30vh;
  }
}
