.container {
  background-color: #14131a;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  height: 7rem;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container div {
  width: 30%;
}
.left {
  display: flex;
  padding-left: 2rem;
  align-items: center;
}
.left > img {
  display: block;
  margin-right: 2rem;
  max-height: 70%;
}
.right {
  /* border: 2px solid whitesmoke; */
  display: flex;
  justify-content: center;
  align-items: center;
}
