.container {
  color: rgb(0, 0, 0);
  width: 24rem;
  height: 28rem;
  margin-top: 2rem;
  background-color: #fefefe;
  /* border: 2px solid yellow; */
  border-radius: 7px;
  border-bottom: 3px solid #fca311;
    background-color:#e9ecef;

}
.content {
  padding: 0 1.5rem;
  margin: 0;
}
.content h2 {
  margin: 0;
}
.imageContainer {
  height: 50%;
  /* border: 2px solid red; */
  /* border-radius: 7px; */

}
.poster {
  width: 100%;
  max-height: 100%;
  /* border-radius: 7px; */
    border-bottom: 1px solid black;


  /* border: 2px solid blueviolet; */
}
.techStack {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}
.links {
  width: 100%;
  height: 3rem;
  /* background-color: rgba(0, 0, 0, 0.379); */
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.route,
.routee {
  text-decoration: none;
}
.route i {
  color: black;
  cursor: pointer;
  font-size: 3rem;
  margin-right: 2rem;
}
.routee i {
  color: black;
  cursor: pointer;
  font-size: 2.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    height: 80%;
    margin-top: 3rem;
    font-size: 2vmax;
  }
  .links {
    height: 5rem;
    margin: 1rem 0;
  }
.route i {
  font-size: 4rem;
}
.routee i {
  font-size: 3rem;
  text-align: center;
}
a{
  padding: 5rem 0;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 80%;
    height: 80%;
    margin-top: 3rem;
    font-size: 2vmax;
  }
  .links {
    height: 5rem;
    margin: 1rem 0;
  }
}