.container {
  /* border: 2px solid green; */
  width: 20%;
  height: 90%;
  padding: 0 2rem;
}
.upperSection {
  /* border: 1px solid red; */
  height: 6%;
  display: flex;
  align-items: center;
}
.upperSection > div {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0ac219;
  margin-left: 1rem;
  border-radius: 50%;
}
.lowerSection {
  /* border: 1px solid blue; */
  height: 94%;
  background-color: rgb(28, 27, 35);
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  font-size: 2rem;
}
.lowerSection a {
  text-decoration: none;
  color: #8b8a91;
}
.routeSection,
.socialSection {
  height: 40%;
  /* border: 2px solid white; */
}
.routeSection > div,
.socialSection > div {
  margin: 3rem 0;
}
.github > i,
.x > i {
  color: #ffffff;
}
.insta > i {
  color: #d7094a;
}
.linkedIn > i {
  color: #0a66c2;
}
