.container {
  /* border: 2px solid green; */
  width: 20%;
  height: 90%;
  padding: 0 2rem;
}
.upperSection {
  /* border: 1px solid red; */
  height: 6%;
  display: flex;
  align-items: center;
}
.upperSection > div {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0ac219;
  margin-left: 1rem;
  border-radius: 50%;
}
.lowerSection {
  /* border: 1px solid blue; */
  height: 94%;
  background-color: rgb(28, 27, 35);
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  font-size: 2rem;
}
.lowerSection a {
  text-decoration: none;
  color: #8b8a91;
}
.routeSection,
.socialSection {
  height: 40%;
  /* border: 2px solid white; */
}
.routeSection > div,
.socialSection > div {
  margin: 3rem 0;
}
.github > i,
.x > i {
  color: #ffffff;
}
.insta > i {
  color: #d7094a;
}
.linkedIn > i {
  color: #0a66c2;
}

@media (max-width: 768px) {
  .container {
    margin-top: 6rem;
    width: 80%;
    height: 100vh;
    padding: 0;
    position: fixed;
  }
  .upperSection {
    height: 10%;
  }
  .upperSection > div {
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
  }
  .lowerSection {
    height: 90%;
    padding: 1rem;
    font-size: 2.5rem;
    justify-content: start;
  }
  .routeSection,
  .socialSection {
    height: 45%;
    margin-left: 4rem;
  }
  .routeSection > div,
  .socialSection > div {
    margin: 3rem 0;
  }
  i {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  span {
    display: none;
  }
  .container {
    width: 10%;
  }
    i {
    font-size: 3rem;
    margin: 2rem 0;
  }

}
