@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap");

:root {
  font-family: Fira Code, monospace;
  width: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 10px;
  box-sizing: border-box;
  margin: auto;
  max-width: 100vw;
}
@media (max-width: 768px) {
  body {
    width: 100vw;
  }
}
